
@{
    ViewBag.Title = "Usuarios";
}

<h2>USUARIO</h2>
<br />
<div>
    <ul>
        <li> @Html.ActionLink("Crear nuevo usuario", "CrearUsuario", "Usuarrio")</li>
    </ul>

</div>
@Html.ActionLink("Ver lista de usuarios", "ListaUsuarios")



