.contacto-container {
    background: linear-gradient(to bottom right, #00aabb, #006688);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.contacto-card {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    color: #333;
    font-size: 18px;
}

.img-contacto {
    margin-top: 20px;
    max-width: 100px;
    border-radius: 10px;
    opacity: 0.9;
}
