
@{
    ViewBag.Title = "Acerca de Nosotros";
    Layout = "~/Views/Compartido/Encabezado.cshtml";
}

<link rel="stylesheet" href="~/Contenido/EstilosAcercaDe.css" />

<div class="acerca-container">
    <div class="acerca-card">
        <h2>Acerca de Nosotros</h2>
        <p>
            Esta página web fue desarrollada como una herramienta educativa con el objetivo de promover la gamificación en el aula.
            A través de esta plataforma, el profesor puede inscribir cursos, agregar estudiantes y registrar sus calificaciones en distintas áreas académicas.
        </p>
        <p>
            Con base en estos datos, se generan atributos únicos para cada estudiante que podrán ser utilizados para diseñar actividades lúdicas
            dentro del entorno escolar. Estas actividades pueden incluir enfrentamientos contra enemigos o desafíos, donde los estudiantes utilizan sus
            atributos como fuerza, inteligencia o velocidad para superar obstáculos y alcanzar metas.
        </p>
        <img src="~/Contenido/Imagenes/continuar.png" alt="Decoración" class="img-decorativa" />

    </div>
</div>
