@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Compartido/Encabezado.cshtml";
}

<link rel="stylesheet" href="~/Contenido/EstilosAcercaDe.css" />

<div class="acerca-container">
    <div class="acerca-card">
        <h2>Contáctanos</h2>
        <p><strong>📧 Correo:</strong> geniosyfiguras566@gmail.com</p>
        <p><strong>📱 Teléfono:</strong> +57 322 3942432</p>
        <p>Estamos aquí para ayudarte a resolver cualquier duda o recibir tus sugerencias. ¡No dudes en escribirnos!</p>
        <img src="~/Contenido/Imagenes/continuar.png" alt="Decoración" class="img-decorativa" />
    </div>
</div>
