@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="es">
<body>
    <section class="banner">
        <img src="~/Contenido/imagenes/fotoprincipal.jpeg" alt="Banner Juegos" class="banner-img" />
    </section>

    <section class="enemigos">
        <div class="enemigo">
            <img src="~/Contenido/imagenes/enemigo1.jpg" alt="Enemigo1" />
            <p>Enemigo1</p>
        </div>
        <div class="enemigo">
            <img src="~/Contenido/imagenes/enemigo2.jpg" alt="Enemigo2" />
            <p>Enemigo2</p>
        </div>
        <div class="enemigo">
            <img src="~/Contenido/imagenes/enemigo3.jpg" alt="Enemigo3" />
            <p>Enemigo3</p>
        </div>
    </section>
</body>
</html>