
@{
    ViewBag.Title = "PrincipalAdministrador";
    Layout = "~/Views/Compartido/Encabezado.cshtml";
}

<h2>PrincipalAdministrador</h2>
<a href="@Url.Action("ReporteProfesores", "Administrador")" class="btn" style="background-color: #00aabb; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">
    Generar reporte PDF de profesores
</a>

