
@{
    ViewBag.Title = "Panel Profesor";
}


 <link href="~/Contenido/MenuProfesor.css" rel="stylesheet" />

<div class="contenedor-principal">
    <div class="menu-lateral">
        <img src="~/Contenido/imagenes/j1.png" alt="Iglesia" class="logo-iglesia">

        

        <div class="opcion-menu" onclick="window.location.href='@Url.Action("IndexCurso", "Curso")'" >
            <span>Mis cursos </span>
            <img src="~/Contenido/imagenes/flecha-abajo.png" alt="Flecha abajo" class="flecha">
        </div>

        

        <div class="opcion-menu" onclick="window.location.href='@Url.Action("IndexEnemigo", "Enemigo")'">
            <span>Enemigos</span>
            <img src="~/Contenido/imagenes/flecha-abajo.png" alt="Flecha abajo" class="flecha">
        </div>

        <a href="@Url.Action("Index", "Principal")" class="icono-home">
            <img src="~/Contenido/imagenes/casa.png" alt="Inicio">
        </a>
    </div>

    <div class="contenido-principal">
        <div class="bienvenida">
            <h1>¡Bienvenido, profesor!</h1>
            <p>Aquí podrás crear cursos, agregar estudiantes, asignar atributos de poder y enfrentar nuevos desafíos.</p>
        </div>

        <div class="imagenes">
            <div class="bloque">
                <img src="~/Contenido/imagenes/Enemigo6.jpg" alt="Troll enemigo" class="imagen-principal">
                <img src="~/Contenido/imagenes/atri1.png" alt="Barras de vida" class="imagen-barra">
            </div>

            <div class="bloque">
                <img src="~/Contenido/imagenes/grupo_est.jpg" alt="Partida de rol" class="imagen-principal">
                <img src="~/Contenido/imagenes/atri1.png" alt="Barras de vida" class="imagen-barra">
            </div>
        </div>

        
    </div>
</div>



