
<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2025 Genios y Figuras. Todos los derechos reservados.</p>
        <p>Contacto: <a href="mailto:geniosyfiguras566@gmail.com">geniosyfiguras566@gmail.com</a></p>
        <p>Sitio desarrollado con fines educativos para fomentar la gamificación en el aula.</p>
    </div>
</footer>

<link rel="stylesheet" href="~/Contenido/PiePagina.css" />


